# Copyright © 2025 OpenCHAMI a Series of LF Projects, LLC
#
# SPDX-License-Identifier: MIT

# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# goreleaser
dist/

# integration tests
tests/integration/step-ca/data/certs/
tests/integration/step-ca/data/secrets/
tests/integration/step-ca/data/keys/
tests/integration/step-ca/data/db/
tests/integration/step-ca/data/templates/
tests/integration/step-ca/data/config/ca.json
tests/integration/step-ca/data/config/defaults.json
tests/integration/authelia/config/db.sqlite3
tests/integration/authelia/config/notification.txt

# certs

*.pem

# Authelia generated keys
tests/integration/authelia/config/oidc-key.pem

# LLM files
CLAUDE.md
CURSOR/
