# SPDX-FileCopyrightText: 2026 OpenCHAMI Contributors
# SPDX-License-Identifier: MIT

[Unit]
Description=The %N container
PartOf=openchami.target

[Container]
ContainerName=%N
HostName=%N
Image=ghcr.io/openchami/%N:@IMAGE_TAG@

# Volumes
Volume=/etc/openchami/configs/%N.json:/etc/%N/config.json:Z
Volume=tokensmith-data.volume:/%N/data:Z,U

# Networks for the Container to use
Network=openchami-internal.network
Network=openchami-jwt-internal.network
HttpProxy=false

# Environment
EnvironmentFile=-/etc/openchami/configs/openchami.env

# Extra hosts
# TODO: transient site-specific configurations should be specified via systemd
# drop in files
PodmanArgs=--add-host='%H:172.16.0.254'

Exec=--enable-local-user-mint

[Service]
Restart=always
