# SPDX-FileCopyrightText: 2026 OpenCHAMI Contributors
# SPDX-License-Identifier: MIT

[Unit]
Description=The %N container
PartOf=openchami.target

[Container]
ContainerName=%N
HostName=%N
Image=ghcr.io/openchami/%N:@IMAGE_TAG@
Exec=serve --enable-local-user-mint

[Service]
Restart=always
